version: 2.1

defaults: &defaults
  working_directory: ~/oya-project
  docker:
    - image: registry.hub.docker.com/bilus/oya-circleci:v0.2.0

commands:
  import_pgp_key:
    description: "Import PGP key from PGP_KEY env variable"
    steps:
      - run: |
          if [ -z "$PGP_KEY" ]
          then
            echo "Set PGP_KEY variable in the project's CircleCI configuration"
            exit 1
          fi
      - run: echo -e "$PGP_KEY" | gpg --import

jobs:
  onPush:
    <<: *defaults
    steps:
      - import_pgp_key
      - checkout
      - run: |
          set -e
          export PATH=~/.oya/bin/oya:$PATH
          oya run -r -c onPush
  onMerge:
    <<: *defaults
    steps:
      - import_pgp_key
      - checkout
      - run: |
          set -e
          export PATH=~/.oya/bin/oya:$PATH
          oya run -r -c onPush
          oya run circleci.onMergeSuccess

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - onPush:
          filters:
            branches:
              ignore:
                - master
      - onMerge:
          filters:
            branches:
              only:
                - master
